* {
    margin: 0;
    padding: 0;
}

.header {
    height: 150px;
    background-color: #f6f6f6;
    color: #505050
}

.header img {
    width: 150px;
    background: none;
}

.tittle h2 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
}

.tittle img {
    margin-top: -50px;
    border: none;
    background: none;
}

.menu {
    width: 100%;
    height: auto;
}

.menu-item {
    width: 10%;
    height: 50px;
    float: left;
    background-color: #070113;
    text-align: center;
}

.menu-item a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.menu-item:hover {
    border: 1px solid #070113;
    background-color: #f6f6f6;
}

.menu-item:hover a {
    color: #070113;
    font-weight: bold;
}

.notices {
    width: 100%;
    height: auto;
    float: left;
    background-color: #f6f6f6;
    border: 1px solid #888;
    border-radius: 3px;
}

.sidebar-header {
    background-color: rgb(0, 106, 177);
    margin-bottom: 20px;
}

.sidebar-header span {
    font-size: 24px;
    color: #fff
}

.side-bar {
    width: 100%;
    padding: 10px 5px;
}

.side-bar span {
    background-color: rgb(0, 106, 177);
    height: auto;
    padding: 10px;
    color: #fff
}

.side-bar a {
    text-decoration: none;
    color: #000;
}

.notices ul {
    list-style-type: none;
}

.notices ul li {
    font-size: 18px;
}

.middle-part {
    width: 100%;
    height: auto;
    background-color: #e7e7eb;
}

.footer {
    height: auto;
    color: #ffffff;
    background-color: #000000;

}